<!DOCTYPE html>
<html>
  <head>
    <title>LiveChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Live Chat App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Live Chat App" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to 'Log Out', logout_path %>
    <% else %>
      <%= link_to 'Sign Up', signup_path %> or
      <%= link_to 'Log In', login_path %>
    <% end %>

    <%= yield %>

  </body>
</html>
